@inject NavigationManager NavigationManager

<a href="realnames"><h3 class="mb-2 font-semibold">Names</h3></a>

<ul class="border-divider space-y-2 border-l">
    
    @foreach (var item in RealNamesGeneratorList)
    {
    <li class="flex items-center gap-2">            
        @if (CurrentPage != item.Name)
        {
            <a class="block border-l border-transparent pl-4 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="realnames/@item.Name">@item.DisplayName</a>
        }else{
            <a class="block border-l border-transparent pl-4 text-blue-500 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="realnames/@item.Name">@item.DisplayName</a>
        }            
    </li>
    }    
</ul>

<a href="fantasynames"><h3 class="mt-4 mb-2 font-semibold">Fantasy Names</h3></a>

<ul class="border-divider space-y-2 border-l">

    @foreach (var item in FantasyNamesGeneratorList)
    {
        <li class="flex items-center gap-2">
            @if (CurrentPage != item.Name)
            {
                <a class="block border-l border-transparent pl-4 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="fantasynames/@item.Name">@item.DisplayName</a>
            }
            else
            {
                <a class="block border-l border-transparent pl-4 text-blue-500 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="fantasynames/@item.Name">@item.DisplayName</a>
            }
        </li>
    }
</ul>

<a ><h3 class="mt-4 mb-2 font-semibold">Misc Generators</h3></a>

<ul class="border-divider space-y-2 border-l">

    @foreach (var item in MiscItems)
    {
        <li class="flex items-center gap-2">
            @if (CurrentPage != item.Name)
            {
                <a class="block border-l border-transparent pl-4 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="misc/@item.Name">@item.DisplayName</a>
            }
            else
            {
                <a class="block border-l border-transparent pl-4 text-blue-500 no-underline hover:opacity-hover hover:border-foreground-400"
                   href="misc/@item.Name">@item.DisplayName</a>
            }
        </li>
    }
</ul>

@code {
    public List<NamesGeneratorItem> RealNamesGeneratorList = RealNamesStaticModel.RealNamesGeneratorList;
    public List<NamesGeneratorItem> FantasyNamesGeneratorList = FantasyNameStaticModel.FantasyNamesGeneratorList;

    public List<(string Name, string DisplayName)> MiscItems = new() { ("XKCDCalendarFact", "XKCD Calendar Fact"), ("GachaCharacter", "Gacha Character") };

    [Parameter]
    public string CurrentPage { get; set; } = "";

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += LocationChanged;

    }

    protected override void OnParametersSet()
    {
        var current = NavigationManager.Uri.ToString().Split('/').Last();

        if (!string.IsNullOrWhiteSpace(current))
        {
            this.CurrentPage = current;
            StateHasChanged();
        }
        
    }

    void LocationChanged(object sender, LocationChangedEventArgs e)
    {        
        var current = e.Location.ToString().Split('/').Last();        

        if (!string.IsNullOrWhiteSpace(current))
        {
            this.CurrentPage = current;
            StateHasChanged();
        }              
    }    

}

